:root {
  --font-primary: "Boldonse", system-ui;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  font-weight: 400;
}

h1 {
  z-index: 1;
  font-size: 10rem;
  color: #FFFFFF;
  mix-blend-mode: difference;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #FFFFFF;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
